<!DOCTYPE html>
<html lang="en">

<head>
    <title>Arrow Extension Premium</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<style type="text/css">
    body {
        width: 180px;
    }
</style>
<div class="text-center">
    <div>
        <b>Welcome Dear Evaluator!</b>
    </div>
    <hr>
    <div>
        <label>
            Please enter license key
            <input style="width: 50%" class="mt-5" type="number" id="conversion-rate">
        </label>
    </div>
    <div>
        <button class="btn mt-10" id="activate-btn">Activate</button>
        <p><a href="../popup/popup.html" id="back">| Back |</a></p>
    </div>
</div>

<script type="module" src="license.bundle.js"></script>

</body>
</html>
