<!DOCTYPE html>
<html lang="en">

<head>
    <title>Arrow Extension Premium</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<style type="text/css">
    body {
        width: 180px;
    }
</style>
<div class="text-center">
    <div>
        <b>Welcome Dear Evaluator!</b>
    </div>
    <hr>
    <div>
        <div>
            <b id="premium-availability"></b>
        </div>
        <div class="mt-10">
            <b id="premium-expiration-date"></b>
        </div>
    </div>
    <div id="input-div" class="mt-5">
        <label>
            Please enter license key
            <input style="width: 50%" class="mt-5" type="text" id="license-key-input">
        </label>
        <div class="mt-10">
            <button class="btn" id="activate-premium-btn">Activate</button>
        </div>
    </div>
    <div class="mt-10">
        <b id="error" class="text-red"></b>
    </div>
    <div>
        <p><a href="../popup/popup.html" id="back">| Back |</a></p>
    </div>
</div>

<script type="module" src="premium.bundle.js"></script>

</body>
</html>
