<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you for installing!</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body style="font-family: Arial, sans-serif; background-color: #eeeeee">
<div style="text-align: center; width: 600px; margin: 0 auto; background-color: #fdfdfd; padding: 30px">
    <h1>Thank you for installing the extension!</h1>
    <h2>Please read the following:</h2>
    <div style="margin-top: 40px">
        <h2>Disclaimer</h2>
        <h3 class="text-red font-bold">The extension is NOT official to Appen or to the project by any means!
            Please do not make conclusion about your productivity from it.</h3>
    </div>
    <div style="margin-top: 30px">
        <h2>Some advice:</h2>
        <h3 style="margin-bottom: 0">It is recommended to use another timer tool, just in case if the extension
            glitches.</h3>
        <h3 style="margin-bottom: 0">When rating, keep quality in mind and don’t stress about your RPH.</h3>
        <h3>May contain bugs, feel free to report them.</h3>
    </div>
    <div style="display: inline-block">
        <h2>Recommended usage:</h2>
        <div style="text-align: left">
            <h3 style="margin: 0">1. Start the timer when rating</h3>
            <h3 style="margin: 0">2. Stop timer when not rating</h3>
            <h3 style="margin: 0">3. At the end of PST day add time to invoice</h3>
            <h3 style="margin: 0">4. Reset the timer</h3>
        </div>
    </div>
    <div style="margin-top: 30px">
        <h2>Contact</h2>
        <div style="display:flex;justify-content:center;align-items:center;">
            <img src="../../images/www.png" alt="website" width="5%" height="5%" style="padding-right: 10px">
            <a href="https://spazo-94d5b.web.app/" target="_blank">https://spazo-94d5b.web.app/</a>
        </div>
        <div style="display:flex;justify-content:center;align-items:center; margin-top: 10px">
            <img src="../../images/email.png" alt="website" width="5%" height="5%"
                 style="padding-right: 10px; margin-left: -15px">
            <p class="font-bold">okoskacsaka@gmail.com</p>
        </div>
        <div style="display:flex;justify-content:center;align-items:center; margin-top: 10px">
            <img src="../../images/chat.png" alt="website" width="5%" height="5%"
                 style="padding-right: 10px; margin-left: -100px">
            <p class="font-bold">@Ravelm</p>
        </div>
    </div>
    <div>
        <h2>Donate</h2>
        <form action="https://www.paypal.com/donate" method="post" target="_top"><input type="hidden"
                                                                                        name="hosted_button_id"
                                                                                        value="NA458TYE4RP9S">
            <input
                    type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit"
                    title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"
                    border="0"><img
                    alt="" src="https://www.paypal.com/en_HU/i/scr/pixel.gif" style="display: none !important;"
                    width="1"
                    hidden="" height="1" border="0">
        </form>
    </div>
</div>
</body>
</html>
