<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css">
    <style type="text/css">
        body {
            width: 180px;
        }
    </style>
</head>
<body>
<div class="text-center">
    <p class="font-bold font-size-14">Worksheet</p>
    <hr>
    <div>
        <p class="font-bold font-size-13">Last workday stat</p>
        <div id="last-day-stat">
            Undefined
        </div>
    </div>
    <hr>
    <div>
        <p class="font-bold font-size-13">This month's stats:</p>
        <div id="monthly-stat">
            Undefined
        </div>
    </div>
    <hr>
    <p><a href="../popup/popup.html" id="back">| Back |</a></p>
</div>
<script type="module" src="worksheet.bundle.js"></script>

</body>

</html>
